.join-wrap {
    width: 300px;
}
.attr-wrap{
    height: 75px;
}
.join-wrap label {
    float: left;
    margin-top: 10px;
}

#email, #pw, #ckpw, #birth, #subscription {
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    /* padding left right 5px * 2 = 10px */
    width: calc(100% - 20px); 
}

.mt-0{
    margin-top: -10px;
}

#subscription{
    width: 100%;
}

.input-addr {
    margin: 10px 0px 0px -5px;
}

.msg {
    display: none;
    float: left;
    height: 0px;
    color: yellow;
    font-size: 10px;
}

#join-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}